

<div class="modal-form">
  <h2>Crear Promoción</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input id="name" formControlName="name" type="text" placeholder="Nombre" value="{{ form.get('name')?.value }}"/>
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error">
        Nombre requerido y máximo 50 caracteres
      </div>
    </div>

    <div class="form-group">
      <label for="discount">Descuento (%)</label>
      <input id="discount" formControlName="discount" type="number" placeholder="Descuento (%)" value="{{ form.get('discount')?.value }}"/>
      <div *ngIf="form.get('discount')?.invalid && form.get('discount')?.touched" class="error">
        Descuento mínimo 0 y máximo 100
      </div>
    </div>

   <div class="form-group">
      <label for="membershipId">Membresía</label>
      <select id="membershipId" formControlName="membershipId">
        <option value="" disabled>Seleccione una membresía</option>
        <option *ngFor="let membership of memberships" [value]="membership.id">{{ membership.name }}</option>
      </select>
      <div *ngIf="form.get('membershipId')?.invalid && form.get('membershipId')?.touched" class="error">
        Membresía requerida
      </div>

    <div class="form-buttons">
      <button type="button" class="btn-cancel" (click)="handleCancel()">Cancelar</button>
      <button type="submit" class="btn-submit" [disabled]="form.invalid">Crear</button>
    </div>
</div>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>
