<h1>Métodos de Pago</h1>





<div class="table-wrapper">
  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of payments">
       <td *ngFor="let key of keys">{{ getValue(item, key) }}</td>

     
      </tr>
    </tbody>
  </table>
</div>


<!-- Overlay modal -->
<div *ngIf="showCreate" class="modal-overlay">
  <div class="modal-container">
    <app-payment-create (okCreate)="okCreate($event)" (errorCreate)="onFailure($event)" (onCancel)="closeCreate()"></app-payment-create>
  </div>
</div>

<div *ngIf="showEdit" class="modal-overlay">
  <div class="modal-container">
    <app-payment-edit *ngIf="selectedPayment" [payment]="selectedPayment" (okEdit)="okEdit($event)" (onFailure)="onFailure($event)" (onCancel)="closeEdit()"></app-payment-edit>
  </div>
</div>

<div *ngIf="errorMessage">
  <app-message-toast [message]="errorMessage" [type]="'error'"></app-message-toast>
</div>

<div *ngIf="successMessage">
  <app-message-toast [message]="successMessage" [type]="'success'"></app-message-toast>
</div>

<div *ngIf="showDeleteConfirmation" class="modal-overlay">
  <app-message-card *ngIf="showDeleteConfirmation" [message]="'¿Estás seguro de que deseas eliminar esta membresía?'" [title]="'Confirmación'" (confirm)="delete()" (cancel)="showDeleteConfirmation = false"></app-message-card>
</div>