<div class="container">
   <div class="header-content">
      <h1> Administración Suscripciones</h1>
   </div>
   <div class="body-content">
     <div class="top-container">
        <app-membership-list [showButton]="false"></app-membership-list>
     </div>
     <div class="bottom-container">
        <div class="left-container">
           <app-payment-history></app-payment-history>
        </div>
        <div class="right-container">
           <app-subscription-history></app-subscription-history>
        </div>
     </div>
   </div>
</div>


