<div class="table-header">
  <button (click)="handleCreate()" class="btn-create">+ Añadir</button>
</div>

<div class="table-wrapper">
  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
       <td *ngFor="let key of keys">{{ getValue(item, key) }}</td>

        <td>
          <button class="icon-button edit-button" (click)="handleEdit(item)">
            ✏️
          </button>
          <button class="icon-button delete-button" (click)="handleDelete(item)">
            🗑️
          </button>
          <!-- <button class="icon-button view-button" (click)="handleView(item)">
            👤
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
