<nav class="sidebar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/membership">Membresías</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/payment_method">Métodos de Pago</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/payment">Pagos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/promotion">Promociones</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/subscription">Suscripciones</a>
    </li>
  </ul>
</nav>
